force-app/main/default/flows/Pull_CSV_Data_into_SRP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSV_to_SRP_Update</name>
        <label>CSV to SRP Update</label>
        <locationX>183</locationX>
        <locationY>408</locationY>
        <actionName>CSVtoSObjectRecordsConverterAction</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Sales_Rep_Profile__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>contentDocuemtId</name>
            <value>
                <elementReference>Inputdoccontentid.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Funnelmetrics__Sales_Rep_Profile__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Pull CSV Data into SRP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pull CSV Data into SRP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>This permits an SRP file to be uploaded</description>
        <name>Upload_SRP_File</name>
        <label>Upload SRP File</label>
        <locationX>178</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CSV_to_SRP_Update</targetReference>
        </connector>
        <fields>
            <name>Upload_SRP_Data</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload an SRP field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>a0C1H00001i1viJUAQ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.CSV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Upload_SRP_Data.contentDocIds</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Upload_SRP_File</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>docContenttest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>Inputdoccontentid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>SRPRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Rep_Profile__c</objectType>
    </variables>
    <variables>
        <name>Store_SRP_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
