force-app/main/default/flows/Sales_Rep_Profile_Maintenance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Manager_Exists</name>
        <label>Check if Manager Exists</label>
        <locationX>1423</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Input_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manager Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Manager_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manager_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPR_record.Sales_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Company_Levels</targetReference>
            </connector>
            <label>Manager Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_Exists</name>
        <label>Check if User Exists</label>
        <locationX>906</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Get_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>User_does_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Record.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Manager</targetReference>
            </connector>
            <label>User does exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the rep exists, update the existing rep profile record. If the rep does not exist, create a new one.</description>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>687</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>SRP_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SRP Exists</defaultConnectorLabel>
        <rules>
            <name>SRP_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_existing_SRP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Sales_Rep_Data</targetReference>
            </connector>
            <label>SRP Does not Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Level2Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level_picklist_2__c</picklistField>
        <picklistObject>Sales_Rep_Profile__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Level3Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level_picklist_3__c</picklistField>
        <picklistObject>Sales_Rep_Profile__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Level4Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level_picklist_4__c</picklistField>
        <picklistObject>Sales_Rep_Profile__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistLevel1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level_picklist_1__c</picklistField>
        <picklistObject>Sales_Rep_Profile__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Sales_Rep_Profile__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SRP_Sales_Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Sales_Rep_Profile__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Sales Rep Profile Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Rep Profile Maintenance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This creates the SRP Record</description>
        <name>Create_SRP_Record</name>
        <label>Create SRP Record</label>
        <locationX>999</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Input_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Month_10_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_11_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_12_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_1_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_2_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_3_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_4_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_5_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_6_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_7_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_8_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_9_Quota_Amount__c</field>
            <value>
                <elementReference>Quota_Month_9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>SalesRole</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Rep_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>698</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Rep_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Determine if this is a current Sales Rep Profile or if this is a new rep.</description>
        <name>Verify_existing_SRP</name>
        <label>Verify existing SRP</label>
        <locationX>499</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Rep_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Rep_Profile__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Input_Company_Levels</name>
        <label>Input Company Levels</label>
        <locationX>1431</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Input_Quota</targetReference>
        </connector>
        <fields>
            <name>Co_Levels_input</name>
            <fieldText>&lt;p&gt;Input the Company Levels:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Co_Level_1</name>
            <choiceReferences>PicklistLevel1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Co Level 1`</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Co_Level_2</name>
            <choiceReferences>Level2Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Co Level 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Co_Level_3</name>
            <choiceReferences>Level3Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Co Level 3</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Co_Level_4</name>
            <choiceReferences>Level4Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Co Level 4</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Complete</name>
        <label>Input Complete</label>
        <locationX>794</locationX>
        <locationY>676</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Task_Complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Sales Rep Profile input for {!Sales_Rep_Name} has been completed. Click the Finish Key to end this Flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Manager</name>
        <label>Input Manager</label>
        <locationX>1158</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Manager_Exists</targetReference>
        </connector>
        <fields>
            <name>Input_Manager_Name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Input the name of the Rep&apos;s Sales Manager.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manager_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SPR_record.Sales_Manager__c</elementReference>
            </defaultValue>
            <fieldText>Manager Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to input Rep monthly quota values</description>
        <name>Input_Quota</name>
        <label>Input Quota</label>
        <locationX>1211</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SRP_Record</targetReference>
        </connector>
        <fields>
            <name>Input_quota_intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Input your new Sales Rep&apos;s Monthly Quota Amounts. Note Quotas are input only for months Sales Rep is employed. New hire reps receive pro-rated quotas base on the month of the fiscal year. If this is a Manager input these fields only if the manager has a Quota.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quota_Month_1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth1</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_2</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth2</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_3</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth3</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_4</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth4</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_5</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth5</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_6</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth6</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 6</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_7</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth7</elementReference>
            </defaultValue>
            <fieldText>Quota Month 7</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_8</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth8</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 8</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_9</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth9</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 9</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_10</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth10</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 10</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_11</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth11</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 11</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quota_Month_12</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>QuotaMonth12</elementReference>
            </defaultValue>
            <fieldText>Quota - Month 12</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Sales_Rep_Data</name>
        <label>Input Sales Rep Data</label>
        <locationX>698</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <fields>
            <name>Sales_Rep_Name_input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sales_Rep_Name</elementReference>
            </defaultValue>
            <fieldText>Sales Rep&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sales_Role</name>
            <choiceReferences>SalesRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Rep Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Onboard_Date</name>
            <dataType>Date</dataType>
            <fieldText>Onboarding Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Rep_Profile_Maintenance</name>
        <label>Sales Rep Profile Maintenance</label>
        <locationX>377</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_existing_SRP</targetReference>
        </connector>
        <fields>
            <name>Sales_Rep_Profile_Maint_Text</name>
            <fieldText>&lt;p&gt;This wizard helps you input the appropriate data for a new Sales Rep Profile.  Please see the Funnelocity User Manual or access the Funnelocity Support Portal to ensure you have all the data needed to perform this task.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start the process by inputting the name of the new rep you are adding.&lt;/p&gt;&lt;p&gt;NOTE: &lt;b&gt;the rep must be added as a User&lt;/b&gt; to Salesforce before you can start.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Rep_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SRP_Record_Name</elementReference>
            </defaultValue>
            <fieldText>Sales Rep Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SRP_Already_Exists</name>
        <label>SRP Already Exists</label>
        <locationX>879</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_User_Exists</targetReference>
        </connector>
        <fields>
            <name>Already_Exists_Msg</name>
            <fieldText>&lt;p&gt;The Sales Rep Profile exists or &lt;/p&gt;&lt;p&gt;User Record {!Sales_Rep_Name} does not Exist.&lt;/p&gt;&lt;p&gt;No further input is required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>29</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Sales_Rep_Profile_Maintenance</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Onboarding_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuotaMonth1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth10</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth11</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth12</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth5</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth6</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth7</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth8</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuotaMonth9</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Rep_start_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the sales rep profile record which will be created from this data</description>
        <name>SPR_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Rep_Profile__c</objectType>
    </variables>
    <variables>
        <name>SRP_Record_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to input a User Record</description>
        <name>User_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
